* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-image: url("images/background_legno.jpg");
}

.container {
    background-color: white;
    /* rendo trasparente il background del container
    in modo che appaia il background dell'elemento padre, il body */
    background-color: rgba(0, 0, 0, 0);
    width: 70%;
    margin: 20px auto;
    height: 100%;
}

header {
    font-family: Verdana, Arial, sans-serif;
}

.logo {
    position: relative;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    height: 350px;
    border: 10px solid white;
    background-image: url("images/header_foresta.jpg");
    background-position: center;
    background-size: cover;
}

.logo__content {
    /* lo posiziono al centro del contenitore padre */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.logo__content__icon {}

.logo__content__title {
    font-size: 400%;
    border: 5px solid white;
    padding: 5px;
    margin: 0;
    display: inline;
}

.logo__content__subtitle {
    font-size: 130%;
    margin: 20px 0 0 0;
}

nav {
    background-color: gray;
    height: 35px;
    text-align: center;
}

nav ul {
    margin: 0;
}

nav ul li {
    display: inline-block;
    list-style-type: none;
    color: white;
    text-transform: uppercase;
    line-height: 35px;
    padding-left: 15px;
    font-weight: bold;
    font-size: 70%;
}

.content {
    border: 1px solid black;
    margin: 10px 0 20px 0px;
}

.content:after {
    content: "";
    display: table;
    clear: both;
}

/* pulisco i float */
.side_left {
    color: green;
    width: 18%;
    float: left;
    margin-right: 3%;
}

.side_left h3 {
    margin: 0;
}

.rss_orange {
    padding: 2px;
    color: white;
    background-color: orange;
    font-size: 120%;
}

main {
    width: 58%;
    float: left;
    margin-right: 3%;
}

.side_right {
    width: 18%;
    float: left;
}

.widget {
    margin-bottom: 20px;
}

.white_rounded {
    font-size: 120%;
    background-color: #f2f2f2;
    border-radius: 10px;
    padding: 10px;
}

.white_rounded h3 {
    color: gray;
    text-transform: capitalize;
}

footer {
    height: 150px;
    color: #b1b1b1;
}

footer p {
    text-align: center;
    margin: 0;
}

.footer__column {
    text-align: center;
    font-size: 200%;
    width: 33.33%;
    float: left;
}